body {
	margin: 0;
	font-family: "Plus Jakarta Sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "JetBrains Mono", monospace;
}

.nav-link {
	color: white !important;
}
#carousel {
	max-height: 500px;
}
.carousalImg {
	object-fit: contain !important;
}

a:hover {
	color: inherit;
}
